<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.haenara.production">

    <application>
        <activity
            android:name="dev.haenara.production.ProductionMainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>